.elementor-105 .elementor-element.elementor-element-317f3928 > 
.elementor-container{min-height:100vh;}.elementor-105 
.elementor-element.elementor-element-317f3928:not(.elementor-motion-effects-element-type-background), 
.elementor-105 .elementor-element.elementor-element-317f3928 > .elementor-motion-effects-container > 
.elementor-motion-effects-layer{background-image:url("../../2022/06/diamond-logo-bb1mc.webp");
	background-repeat:repeat;background-size:20% auto;}
	.elementor-105 .elementor-element.elementor-element-317f3928 > 
	.elementor-background-overlay{background-color:#000000;opacity:0.6;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}
	.elementor-105 .elementor-element
	.elementor-element-317f3928{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
		margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-105 
		.elementor-element.elementor-element-58f284d1{text-align:center;}
		.elementor-105 .elementor-element.elementor-element-58f284d1 
		.elementor-heading-title{color:#FFFFFF;font-family:"brotherhood-font", Sans-serif;font-size:7.5rem;font-weight:400;}
		.elementor-105 .elementor-element.elementor-element-2e6e5768{margin-top:-44px;margin-bottom:0px;padding:0px 0px 0px 0px;}
		.elementor-105 .elementor-element.elementor-element-4200e74c 
		.elementor-button{font-family:"Noto Sans", Sans-serif;font-size:0.8rem;fill:#FFFFFF;color:#FFFFFF;background-color:#02010100;
			border-radius:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-105 .elementor-element.elementor-element-4200e74c > 
			.elementor-widget-container{margin:0px -5px 0px 0px;}.elementor-bc-flex-widget .elementor-105 
			.elementor-element.elementor-element-4f76131e.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-105 
			.elementor-element.elementor-element-4f76131e.elementor-column.elementor-element[data-element_type="column"] > 
			.elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-105 
			.elementor-element.elementor-element-67a2c07b 
			.elementor-button{font-family:"Noto Sans", Sans-serif;font-size:0.8rem;fill:#FFFFFF;color:#FFFFFF;
				background-color:#02010100;border-radius:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-105 
				.elementor-element.elementor-element-67a2c07b > .elementor-widget-container{margin:0px 0px 0px -5px;padding:0px 0px 0px 0px;}
				.elementor-105 .elementor-element.elementor-element-296d6a18 > .elementor-container{min-height:65vh;}.elementor-105 
				.elementor-element.elementor-element-296d6a18 > .elementor-container > .elementor-column > 
				.elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-105 
				.elementor-element.elementor-element-296d6a18:not(.elementor-motion-effects-element-type-background), 
				.elementor-105 .elementor-element.elementor-element-296d6a18 > .elementor-motion-effects-container > 
				.elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(90deg, #1D1C1C 40%, #131313 100%);}
				.elementor-105 .elementor-element
				.elementor-element-296d6a18{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;
					margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-105 .elementor-element.elementor-element-296d6a18 > 
					.elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-105 
					.elementor-element.elementor-element-3503bac{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-105 
					.elementor-element.elementor-element-e14e457:not(.elementor-motion-effects-element-type-background) > 
					.elementor-widget-wrap, .elementor-105 .elementor-element.elementor-element-e14e457 > .elementor-widget-wrap > 
					.elementor-motion-effects-container > 
					.elementor-motion-effects-layer{background-image:url("../../2022/06/sang-pemimpin-01.webp");
						background-position:-2px 3px;background-repeat:no-repeat;background-size:cover;}.elementor-105 
						.elementor-element.elementor-element-e14e457 > 
						.elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-105 
						.elementor-element.elementor-element-e14e457 > .elementor-element-populated > 
						.elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-105 
						.elementor-element.elementor-element-5270f57{--spacer-size:50px;}.elementor-105 
						.elementor-element.elementor-element-39926396{color:#FFFFFF;font-family:"Noto Sans", Sans-serif;font-size:1.5rem;
							font-weight:500;line-height:1.2em;}.elementor-105 .elementor-element.elementor-element-39926396 > 
							.elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}body
							.elementor-page-105:not(.elementor-motion-effects-element-type-background), body.elementor-page-105 > 
							.elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;
								background-image:linear-gradient(90deg, #1D1C1C 0%, #131313 100%);}
								@media(max-width:1024px){.elementor-105 .elementor-element.elementor-element-58f284d1 > 
									.elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-105 
									.elementor-element.elementor-element-296d6a18{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}
									.elementor-105 .elementor-element.elementor-element-e14e457:not(.elementor-motion-effects-element-type-background) > 
									.elementor-widget-wrap, .elementor-105 .elementor-element.elementor-element-e14e457 > 
									.elementor-widget-wrap > .elementor-motion-effects-container > 
									.elementor-motion-effects-layer{background-position:-361px -5px;}.elementor-105 
									.elementor-element.elementor-element-39926396{text-align:center;}.elementor-105 
									.elementor-element.elementor-element-39926396 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}}
									@media(max-width:767px){.elementor-105 .elementor-element.elementor-element-317f3928 > .elementor-container{min-height:100vh;}
									.elementor-105 .elementor-element.elementor-element-317f3928:not(.elementor-motion-effects-element-type-background), 
									.elementor-105 .elementor-element.elementor-element-317f3928 > 
									.elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:-762px 25px;}.elementor-105 
									.elementor-element.elementor-element-317f3928{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-105 
									.elementor-element.elementor-element-58f284d1 .elementor-heading-title{font-size:5rem;}.elementor-105 
									.elementor-element.elementor-element-58f284d1 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-105 
									.elementor-element.elementor-element-59550785{width:50%;}.elementor-105 .elementor-element.elementor-element-4f76131e{width:50%;}.elementor-105 .elementor-element.elementor-element-296d6a18{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-105 .elementor-element.elementor-element-3503bac{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-105 .elementor-element.elementor-element-e14e457{width:100%;}.elementor-105 .elementor-element.elementor-element-e14e457:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-105 .elementor-element.elementor-element-e14e457 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:0px 0px;}.elementor-105 .elementor-element.elementor-element-5270f57{--spacer-size:394px;}.elementor-105 .elementor-element.elementor-element-1dda616f{width:100%;}.elementor-105 .elementor-element.elementor-element-39926396{text-align:left;font-size:1.2rem;}.elementor-105 .elementor-element.elementor-element-39926396 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}}@media(min-width:768px){.elementor-105 .elementor-element.elementor-element-e14e457{width:39.374%;}.elementor-105 .elementor-element.elementor-element-1dda616f{width:60.582%;}}@media(max-width:1024px) and (min-width:768px){.elementor-105 .elementor-element.elementor-element-e14e457{width:39%;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'brotherhood-font';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2022/07/URWWoodTypD.ttf') format('truetype');
}
/* End Custom Fonts CSS */